[user]
  email = hermanbergner@gmail.com
  name = Herman Bergner
[diff]
  tool = kitty
  guitool = kitty.gui
[difftool]
  prompt = false
  trustExitCode = true
[difftool "kitty"]
  cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
  cmd = kitty kitty +kitten diff $LOCAL $REMOTE
[includeIf "gitdir:~/Github/forbidden_planet/"]
    path = ~/Github/forbidden_planet/.gitconfig
[credential]
	helper = osxkeychain
